* {
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

.navBar {
    padding: 1.5rem 1rem 1.5rem 1rem;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
}

.heroCont {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
}

.heroImg {
    align-self: center;
}

.heroTxt {
    align-self: left;
}

.h2Txt {
    font-size: 3rem;
    font-weight: 600;
}

.pTxt.heroTxt {
    font-weight: 200;
    font-size: 1.25rem;
    font-family: "Poppins",sans-serif;
}