* {
    margin: 0;
    padding: 0;
    font-family: "Poppins",sans-serif;
}

.gray {
    color: gray;
}
.bold {
    font-weight: bold;
}

.navBar {
    padding: 1.5rem 1rem 1.5rem 1rem;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.1));
}

.heroCont {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.heroImg {
    align-self: center;
    margin-bottom: 2rem;
}

.heroTxt {
    align-self: left;
}

.h2Txt {
    font-size: 3rem;
    font-weight: 600;
}

.pTxt.heroTxt {
    font-weight: 200;
    font-size: 1.25rem;
    font-family: "Poppins",sans-serif;
}


.cardCont {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    position: relative;
    /* box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3); */
}

.cardBadge {
    position: absolute;
    left: 1.8rem;
    top: 1.8rem;
    background-color: white;
    border-radius: 0.3rem;
    padding: 0.25rem;
    font-size: 0.75rem;

}

.cardImg{
    width: 250px;
    height: 350px;
}
.cardImg img{
    width: 100%;
    height: 100%;
}

.cardInfo {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.imgStar {
    width: 0.875rem;
    height: 0.875rem;
    margin-top: -0.2rem;
}


.cardListCont {
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

